* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css?family=PT+Sans');

/* @import url('https://fonts.googleapis.com/css?family=Bubbler+One'); */

/* @font-face {
  font-family: 'Bubbler One';
  src: url(fonts/BubblerOne-Regular.ttf);
} */

body {
  background: #41BABE;
}

header nav {
  display: flex;
  justify-items: center;
  justify-content: space-between;
  text-align: center;
  margin: 2%;
}

header nav a {
  width: 50%;
}

img[alt=logo] {
  width: 20%;
}

img[alt=avatar] {
  border-radius: 50%;
  width: 30%;
}

header h1 {
  font-family: 'Bubbler One';
  /* Ne pas oublier de mettre d'autre police */
  /* color: #9373ab; */
  /* color: #4B365E; */
  color: #473A53;
  text-align: center;
  margin: 2% 0;
  text-transform: uppercase;
}

.memory-game {
  display: flex;
}

.plateau {
  width: 360px;
  height: 340px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  perspective: 1000px;
  justify-content: center;
  margin-bottom: 20px;
}

.memory-card {
  width: calc(25% - 10px);
  /* Changer la forme de la carte pour adaptation */
  height: calc(33% - 10px);
  margin: 2px;
  position: relative;
  transform: scale(1);
  transform-style: preserve-3d;
  transition: transform .5s;

}

.memory-card:active {
  transform: scale(0.97);
  transition: transform .2s;
}

.memory-card.flip {
  transform: rotateY(180deg);
}

.front-face,
.back-face {
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 5px;
  background: #9373ab;
  backface-visibility: hidden;
}

.front-face {
  transform: rotateY(180deg);
}

section h1 {
  color: #FFF;
  z-index: 99;
  font-size: 95%;
  font-family: 'Bubbler One';
  /* font-family: 'PT Sans', sans-serif; */
  text-align: center;
  position: relative;
  top: 80%;
}

/* .pays {
  position: absolute;
  top: 75%;
  left: 15%;
  color: #FFF;
  font-size: 1.125em;
  z-index: 99;
  font-family: 'PT Sans', sans-serif;
}
.norvege {
  left: 10%;
} */

.back-face {
  padding: 20px;
}

.memory-card .front-face img[alt="cheval"],
.memory-card .front-face img[alt="girafe"],
.memory-card .front-face img[alt="TourdePise"] {
  height: 60%;
}

.memory-card .front-face img[alt="BigBen"],
.memory-card .front-face img[alt="tourEiffel"] {
  height: 65%;
}

div .front-face img {
  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: flex-end;
}

.footer .son {
  background-image: url(../../pictures/svg/speaker.svg);
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
  border: none;
  background-color: #9373ab;
  border-radius: 50%;
  cursor: pointer;
}

.footer div {
  text-align: center;
}

.footer img {
  width: 40%;
}

.footer p {
  color: #FFF;
  font-family: 'Bubbler One', cursive;
  text-transform: uppercase;
  font-size: 1.2rem;
}

.footer .return {
  width: 60px;
  background-color: #9373ab;
  border-radius: 100%;
  height: 60px;
  padding: 10px;
  cursor: pointer;
}

.footer .notactived {
  visibility: hidden;
}

@media screen and (min-width: 450px) {
  .plateau {
    margin-bottom: 10px;
  }
}


@media screen and (min-width: 545px) {
  header {
    max-width: 70%;
    margin: 0 auto;
  }
}

@media screen and (min-width: 725px) {
  header nav a {
    width: 40%;
  }

  img[alt=piece],
  img[alt=avatar] {
    width: 20%;
  }
}

@media screen and (min-width: 925px) {
  nav {
    margin-bottom: 0;
  }

  header h1 {
    margin: 0;
  }
}

@media screen and (min-width: 970px) {
  header nav {
    margin-bottom: 0;
  }

  header nav a {
    width: 30%;
  }
}